In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

In [4]:

yandexm = pd.read_csv('/home/jupyter-a.kosheleva-14/step_1_lesson_7.csv')

In [5]:
yandexm

         date user_type  visits
0  2020-06-15    People   417.0
1  2020-06-15    Robots   177.0
2  2020-06-16    People   472.0
3  2020-06-16    Robots    91.0
4  2020-06-17    People   475.0
5  2020-06-17    Robots   138.0