In [29]:
import pandas as pd
import sqlalchemy
from datetime import datetime, timedelta
import hashlib
import json
import monolith as m

In [30]:
password = '43AucbXIIlN7iAGs'
login = 'a.al.kosheleva'

In [31]:
def auth_monolit(login, password):

    mysql_config = {
    'monolith_prefix' : 'mysql+mysqldb'
  , 'monolith_host'   : '77.223.120.185'
  , 'monolith_user'   : f'{login}'
  , 'monolith_pass'   : f'{password}'
  , 'monolith_port'   : '3306'
  , 'monolith_db'     : 'reports'
  }

    prefix = mysql_config['monolith_prefix']
    host = mysql_config['monolith_host']
    user = mysql_config['monolith_user']
    passw = mysql_config['monolith_pass']
    port = mysql_config['monolith_port']
    db = mysql_config['monolith_db']

    mysql_connection_string  = f"{prefix}://{user}:{passw}@{host}:{port}/{db}?charset=utf8"

    print(mysql_connection_string)
    mysql_engine = sqlalchemy.create_engine(mysql_connection_string)
    mysql_conn = mysql_engine.connect()
    return mysql_conn

In [32]:
mysql_conn = auth_monolit(login, password)

mysql+mysqldb://a.al.kosheleva:43AucbXIIlN7iAGs@77.223.120.185:3306/reports?charset=utf8

In [33]:
df = pd.read_csv('C:/Users/a.al.kosheleva/analytics/kosheleva_a/buyers_list.csv')

In [34]:
buyers_list = df['buyer_id'].to_list() #зададим список buyer_id из выборки

In [35]:
sql = ''
with open('C:/Users/a.al.kosheleva/analytics/kosheleva_a/promocode_users_prev.sql') as f:
    sql = f.read().replace('BUYERS', ','.join([str(x) for x in buyers_list]))

In [36]:
previous_period_kpi = pd.read_sql(sql, mysql_conn)

In [37]:
previous_period_kpi #частота и сумма затрат за период за 11 января-9 февраля

   purchase_frequency  avg__purch_summ
0                3.08          6426.68

In [38]:
sql2 = ''
with open('C:/Users/a.al.kosheleva/analytics/kosheleva_a/promocode_users_next.sql') as f:
    sql2 = f.read().replace('BUYERS', ','.join([str(x) for x in buyers_list]))

In [39]:
next_period_kpi = pd.read_sql(sql2, mysql_conn)

In [40]:
next_period_kpi #частота и сумма затрат за период за 10 февраля-9 марта

   purchase_frequency  avg__purch_summ
0                2.44          5368.39

In [58]:
sql3 = ''
with open('C:/Users/a.al.kosheleva/analytics/kosheleva_a/conversion.sql') as f:
    sql3 = f.read().replace('BUYERS', ','.join([str(x) for x in buyers_list]))

In [59]:
conversion = pd.read_sql(sql3, mysql_conn) #конверсия в совершение заказа по промокоду

In [60]:
conversion

   conversion
0         7.0