In [1]:
import pandas as pd
import sqlalchemy
from datetime import datetime, timedelta
import hashlib
import json
import monolith as m

In [4]:
password = '43AucbXIIlN7iAGs'
login = 'a.al.kosheleva'

In [5]:
def auth_monolit(login, password):

    mysql_config = {
    'monolith_prefix' : 'mysql+mysqldb'
  , 'monolith_host'   : '77.223.120.185'
  , 'monolith_user'   : f'{login}'
  , 'monolith_pass'   : f'{password}'
  , 'monolith_port'   : '3306'
  , 'monolith_db'     : 'utkonos_sess'
  }

    prefix = mysql_config['monolith_prefix']
    host = mysql_config['monolith_host']
    user = mysql_config['monolith_user']
    passw = mysql_config['monolith_pass']
    port = mysql_config['monolith_port']
    db = mysql_config['monolith_db']

    mysql_connection_string  = f"{prefix}://{user}:{passw}@{host}:{port}/{db}?charset=utf8"

    print(mysql_connection_string)
    mysql_engine = sqlalchemy.create_engine(mysql_connection_string)
    mysql_conn = mysql_engine.connect()
    return mysql_conn

In [6]:
mysql_conn = auth_monolit(login, password)

mysql+mysqldb://a.al.kosheleva:43AucbXIIlN7iAGs@77.223.120.185:3306/utkonos_sess?charset=utf8

In [7]:
df = pd.read_csv('C:/Users/a.al.kosheleva/refferal_promocodes.csv', delimiter=';')

In [8]:
df

     refferal_promocode   sent_by   sent_to
0              007s12ee  96737710  98360299
1              00dy5e62  97519502  96085157
2              01918kgi  96287744  98543603
3              01hu0r4e  98577328  98731879
4              01y1s5dv  95683659  98566542
...                 ...       ...       ...
1288           zhwqzpj0  98214740  98689909
1289           zjxqv08q  96638064  98615489
1290           zppw37i1  96087649  98432347
1291           zvbi7f5y  96956958  98669748
1292           zxkdvctg  97267840  98687687

[1293 rows x 3 columns]

In [9]:
senders = df['sent_by'].to_list()
new_users = df['sent_to'].to_list()

In [19]:
sql = ''
with open('C:/Users/a.al.kosheleva/referral_fraud.sql') as f:
    sql = f.read().replace('BUYERS', ','.join(['\'' + str(x) + '\'' for x in senders]))

In [20]:
senders_addr = pd.read_sql(sql, mysql_conn)

In [21]:
senders_addr

      buyer_id                                            address
0     94580715  Москва, Новомосковский административный округ,...
1     94593243  Череповец, Спортивная улица, д. 2, под. 3, эт....
2     94603138  Санкт-Петербург, улица Маршала Казакова, д. 78...
3     94603285  Санкт-Петербург, улица Подвойского, д. 26к2, п...
4     94603338  Санкт-Петербург и ЛО, пр-кт Большевиков, д. 11...
...        ...                                                ...
1228  98716100                   Выборг, 4-я Озёрная улица, д. 13
1229  98718501  Саратов, Рабочая улица, д. 10А, под. 2, эт. 2,...
1230  98719721             Ижевск, Прудовая улица, д. 21, кв. Дом
1231  98723602  Москва, Ленинский проспект, д. 62/1, под. 17, ...
1232  98729424  Ставрополь, улица Тухачевского, д. 12А, под. 1...

[1233 rows x 2 columns]

In [22]:
sql2 = ''
with open('C:/Users/a.al.kosheleva/referral_fraud_2.sql') as f:
    sql2 = f.read().replace('BUYERS', ','.join(['\'' + str(x) + '\'' for x in new_users]))

In [23]:
users_addr = pd.read_sql(sql2, mysql_conn)

In [24]:
users_addr

      buyer_id                                            address
0     95373707  Нижнекамск, проспект Шинников, д. 53, под. 6, ...
1     95446747  Ростов-на-Дону, проспект Маршала Жукова, д. 23...
2     95685663  Москва, р. Юго-Восточный административный окру...
3     98345473  Санкт-Петербург, Советский проспект, д. 2, под...
4     98352844  Орёл, Октябрьская улица, д. 56А, под. 1, эт. 1...
...        ...                                                ...
1242  98742436  Самара, Молодогвардейская улица, д. 167, под. ...
1243  98742607  Краснодар, Ставропольская улица, д. 155, под. ...
1244  98742912            Выборг, 4-я Озёрная улица, д. 13, кв. 1
1245  98743720         Уфа, Сливовая, д. 3, под. 1, эт. 2, кв. 10
1246  98743777  Санкт-Петербург, улица Стойкости, д. 7, под. 9...

[1247 rows x 2 columns]

In [26]:
fraud = senders_addr.merge(users_addr, on='address', how='inner')

In [28]:
fraud = fraud.rename(columns = {'buyer_id_x' : 'sender', 'buyer_id_y' : 'new_user'})

In [29]:
fraud

       sender                                            address  new_user
0    94593243  Череповец, Спортивная улица, д. 2, под. 3, эт....  98376142
1    94607206  Реутов, Юбилейный проспект, д. 55, под. 1, эт....  98405356
2    94613629  Серпухов, Новая улица, д. 7, под. 2, эт. 4, кв...  98475088
3    94633221  Нижний Новгород, Верхневолжская набережная, д....  98495837
4    94633642  Санкт-Петербург, улица Адмирала Черокова, д. 2...  96619380
..        ...                                                ...       ...
562  98673788              Краснодар, Красноярская улица, д. 137  98733515
563  98676089  Архангельск, улица Смольный Буян, д. 24к3, под...  98709850
564  98677405  Сосновый Бор, улица Машиностроителей, д. 2, по...  98701096
565  98678643       Уфа, улица 50-летия Октября, д. 20, кв. Алан  98731611
566  98708512                   Краснодар, Малиновая улица, д. 5  98738604

[567 rows x 3 columns]

In [30]:
 len(fraud)/len(df)

0.4385150812064965

In [31]:
fraud.to_csv('referal_fraud.csv')